<div class="modal fade modal-xl" id="editImgSelectModal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header bg-success-subtle">
                <div class="modal-title fs-5 fw-bold">
                    Select New Image from Gallery
                </div>
                <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal"></button>
            </div>
            <!-- Body -->
            <div class="modal-body">
                <div class="row" id="modalEditImgs"></div>
            </div>
        </div>
    </div>
</div>