<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }} - Ruigang</title>
    {% else %}
    <title>Ruigang</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.min.css')}}">
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js')}}"></script>
    <style>
        body::after {
            content: '';
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: url("{{ url_for('static', filename='assets/r.png')}}");
            opacity: 0.05;
            pointer-events: none;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
</head>

<body class="d-flex flex-column min-vh-100">
    <header class="container-fluid">
        <div class="text-center">
            <img src="{{ url_for('static', filename='assets/ruigang_ind.png')}}" class="img-fluid"
                style="max-width: 420px;">
            <div class="fs-2 fw-bold text-primary-emphasis border-bottom">
                Quotation
            </div>
        </div>

        <div class="d-flex justify-content-between ms-3 me-3">
            <div class="p-2">
                <span class="fw-bold">Customer: </span>
                <span class="fw-light">{{ quote.customer }}</span>
                <br>
                <span class="fw-bold">Project: </span>
                <span class="fw-light">{{ quote.project }}</span>
                <br>
                <span class="fw-bold">Size: </span>
                <span class="fw-light">{{ quote.size }}</span>
            </div>
            <div class="p-2">
                <span class="fw-bold">Date: </span>
                <span class="fw-light">{{ quote.date }}</span>
                <br>
                <span class="fw-bold">Validity: </span>
                <span class="fw-light">{{ quote.validity }}</span>
                <br>
                <span class="fw-bold">Currency: </span>
                <span class="fw-light">{{ quote.currency }}</span>
            </div>
        </div>
    </header>
    <main role="main" class="mt-2 ms-3 me-3">
        <!-- Items -->
        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Item</th>
                    <th scope="col" class="text-center">Specification</th>
                    <th scope="col" class="text-center">Quantity</th>
                    <th scope="col" class="text-center">Unit</th>
                    <th scope="col" class="text-center">Unit Price</th>
                    <th scope="col" class="text-center">Total Price</th>
                    <th scope="col" class="text-start">Note</th>
                    <th scope="col" class="text-center">Ref. Photo</th>
                </tr>
            </thead>
            <tbody id="itemTable">
                {% for item in items %}
                <tr>
                    <td class="text-start">{{ item.material }}</td>
                    <td class="text-start">{{ item.spec }}</td>
                    <td class="text-center">{{ item.qty }}</td>
                    <td class="text-center">{{ item.unit }}</td>
                    <td class="text-center">{{ item.unit_price }}</td>
                    <td class="text-center">{{ item.total_price }}</td>
                    <td class="text-start">{{ item.note }}</td>
                    {% if item.ref_img %}
                    <td class="text-center">
                        <img src="{{ item.ref_img }}" class="img-fluid" height="100px" width="100px">
                    </td>
                    {% else %}
                    <td class="text-center">
                        <i class="bi bi-card-image fs-4"></i>
                    </td>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td colspan="5" class="text-center fw-bold">Net Amount</td>
                    <td class="text-center fw-bold">{{ net_amount }}</td>
                    <td colspan="2" class="text-start fst-italic">USD</td>
                </tr>
            </tbody>
        </table>
        <!-- Remarks -->
        <div class="d-flex justify-content-between">
            <div class="text-start ps-3 me-3">
                <div class="fw-bold fs-5 mb-2">Remarks:</div>
                <span class="fw-bold">1. Payment Method: </span>
                <span class="fw-light">T/T</span>
                <br>
                <span class="fw-bold">2. Payment Term: </span>
                <span class="fw-light">30% in advance before production, and balance payment before delivery</span>
                <br>
                <span class="fw-bold">3. Delivery: </span>
                <span class="fw-light">FOB (Qingdao Port)</span>
                <br>
                <span class="fw-bold">4. Delivery Term: </span>
                <span class="fw-light">About 30 days after receiving the advance payment</span>
                <br>
            </div>
            <!-- Signature -->
            <div class="text-end pe-3">
                <div class="fw-bold fs-5 mb-2">Quotation By</div>
                <span class="fw-semibold fs-6">{{ user.name }}</span>
                <br>
                <span class="fw-light text-muted fs-6">+86{{ user.phone }}</span>
                <br>
                <span class="fw-light text-muted fs-6">{{ user.email }}</span>
            </div>
        </div>
        <!-- Note -->
        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="alert alert-warning text-center fs-6">
                    <strong>Note: </strong>The above price list doesn't include the cost of concrete foundation,
                    construction and fixing.
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </main>

    <footer class="mt-auto pt-2">
        <div class="text-center">
            <div class="fw-light mb-1">Thanks for your inquiry!</div>
            <a href="https://www.ruigangsteel.com/" class="text-decoration-none fw-light" target="_blank">
                w w w . r u i g a n g s t e e l . c o m
            </a>
        </div>
        <div class="bg-primary p-2 text-center text-white mt-1">
            Qingdao Ruigang Heavy Industry Co., Ltd
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
</body>

</html>