<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }} - Ruigang</title>
    {% else %}
    <title>Ruigang</title>
    {% endif %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.min.css')}}">
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js')}}"></script>
    <style>
        body::after {
            content: '';
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: url("{{ url_for('static', filename='assets/r.png')}}");
            opacity: 0.05;
            pointer-events: none;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
</head>

<body class="d-flex flex-column min-vh-100">
    <header class="container-fluid">
        <div class="text-center">
            <img src="{{ url_for('static', filename='assets/ruigang_ind.png')}}" class="img-fluid"
                style="max-width: 420px;">
            <div class="fs-2 fw-bold text-primary-emphasis border-bottom">
                Quotation
            </div>
        </div>

        <div class="d-flex justify-content-between ms-3 me-3">
            <div class="p-2">
                <span class="fw-bold">Customer: </span>
                <span class="fw-light">{{ quote.customer }}</span>
                <br>
                <span class="fw-bold">Project: </span>
                <span class="fw-light">{{ quote.project }}</span>
                <br>
                <span class="fw-bold">Size: </span>
                <span class="fw-light">{{ quote.size }}</span>
            </div>
            <div class="p-2">
                <span class="fw-bold">Date: </span>
                <span class="fw-light">{{ quote.date }}</span>
                <br>
                <span class="fw-bold">Validity: </span>
                <span class="fw-light">{{ quote.validity }}</span>
                <br>
                <span class="fw-bold">Currency: </span>
                <span class="fw-light">{{ quote.currency }}</span>
            </div>
        </div>
    </header>
    <main role="main" class="mt-2 ms-3 me-3">
        <!-- Items -->
        <table class="table table-sm table-bordered table-striped">
            <thead class="table-primary">
                <tr>
                    <th scope="col" class="text-center"><small>Item</small></th>
                    <th scope="col" class="text-center"><small>Specification</small></th>
                    <th scope="col" class="text-center"><small>Quantity</small></th>
                    <th scope="col" class="text-center"><small>Unit</small></th>
                    <th scope="col" class="text-center"><small>Unit Price</small></th>
                    <th scope="col" class="text-center"><small>Total Price</small></th>
                    <th scope="col" class="text-start"><small>Note</small></th>
                </tr>
            </thead>
            <tbody id="itemTable">
                {% for item in items %}
                <tr>
                    <td class="text-start">
                        <small>{{ item.material }}</small>
                    </td>
                    <td class="text-start">
                        <small>{{ item.spec }}</small>
                    </td>
                    <td class="text-center">
                        <small>{{ "%.2f"|format(item.qty) }}</small>
                    </td>
                    <td class="text-center">
                        <small>{{ item.unit }}</small>
                    </td>
                    <td class="text-center">
                        <small>{{ "%.2f"|format(item.unit_price) }}</small>
                    </td>
                    <td class="text-center">
                        <small>{{ "%.2f"|format(item.total_price) }}</small>
                    </td>
                    <td class="text-start">
                        <small>{{ item.note }}</small>
                    </td>
                    {% endfor %}
                <tr>
                    <td colspan="5" class="text-center fw-bold">
                        <small>Net Amount</small>
                    </td>
                    <td class="text-center fw-bold">
                        <small>
                            {{ "%.2f"|format(net_amount) }}
                        </small>
                    </td>
                    <td class="text-start fst-italic">
                        <small>{{ quote.currency }}</small>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Remarks -->
        <div class="d-flex justify-content-between">
            <div class="text-start ps-3 me-5">
                <div class="fw-bold fs-5 mb-2">Remarks:</div>
                <span class="fw-bold">1. Payment Method: </span>
                <span class="fw-light">T/T or T/T + L/C</span>
                <br>
                <span class="fw-bold">2. Payment Term: </span>
                <span class="fw-light">30% advance before production, and balance payment before delivery</span>
                <br>
                <span class="fw-bold">3. Delivery: </span>
                <span class="fw-light">FOB (Qingdao Port)</span>
                <br>
                <span class="fw-bold">4. Delivery Term: </span>
                <span class="fw-light">About 30 days after receiving the advance payment</span>
                <!-- <br>
                <span class="fw-bold">4. Total Weight: </span>
                <span class="fw-light">About 44.53 Tons for 2 towers combined</span>
                <br> -->
            </div>
            <!-- Signature -->
            <div class="text-end pe-3">
                <div class="fw-bold fs-5 mb-2">Quotation By</div>
                <span class="fw-semibold fs-6">{{ user.name }}</span>
                <br>
                <span class="fw-light text-muted fs-6">+86{{ user.phone }}</span>
                <br>
                <span class="fw-light text-muted fs-6">{{ user.email }}</span>
            </div>
        </div>
        <!-- Note -->
        <div class="m-3">
            <!-- <div class="bg-warning-subtle text-warning-emphasis p-2 text-sm text-center rounded-3">
                <strong>Note: </strong>This quotation doesn't include ocean freight costs, please consult with any shipping agency or we can manage it for you.
            </div> -->
            <div class="bg-warning-subtle text-warning-emphasis p-2 text-sm text-center rounded-3">
                <strong>Note: </strong>The above prices don't include the cost of concrete foundation, construction and
                fixing.
            </div>
        </div>
    </main>

    <footer class="mt-auto pt-2">
        <div class="text-center">
            <div class="fw-light mb-1">Thanks for your inquiry!</div>
            <a href="https://www.ruigangsteel.com/" class="text-decoration-none fw-light" target="_blank">
                w w w . r u i g a n g s t e e l . c o m
            </a>
        </div>
        <!-- <div class="bg-primary p-2 text-center text-white mt-1">
            Qingdao Ruigang Heavy Industry Co., Ltd
        </div> -->
    </footer>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
</body>

</html>